@import url('https://fonts.googleapis.com/css2?family=Akatab&family=Dancing+Script:wght@700&family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root{
    --background: #0F0715;
    --text1: #fff;
    --foreground: rgba(28, 16, 37, 0.631);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text1);
    width: 100%;
}
.homePage{
    position: relative; /* Change to relative to allow positioning of child elements */
    display: flex;
    flex-direction: column;
    background-image: url(/media/bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items:center;
    row-gap: 30px;
    width: 100%;
    height: 40rem;
}

.sugardevs-logo{
    border-radius: 274px;
    border: 10px solid rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(20px);
    max-width: 20%;
    border-radius: 50%;
}

.home_hero_text{
    color: var(--text1);
    font-family: Roboto,sans-serif;
    font-size: 2.4rem;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(40px);
    padding: 10px 25px;
    text-align: center;
    margin: 0 10px;
    border-radius: 50px;
}
.partition{
    width: 100%;
    background-color: var(--text1);
    height: 2px;
}



/* Phone viewport */
@media (max-width: 765px){
    .sugardevs-logo{
        max-width: 50%;
    }
    .home_hero_text{
        font-size: 0.8rem;
        padding: 10px 15px;
    }
}

